<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches>
    <Found Context="routeData">
      <AuthorizeRouteView RouteData=@routeData DefaultLayout=@typeof(MainLayout)>
        <Authorizing>
          <div class="text-center my-16 pa-8">
            <MudText Typo=Typo.h1>Authorizing</MudText>
            <MudText Typo=Typo.h2>授權處理中…</MudText>
          </div>
        </Authorizing>
        <NotAuthorized>
          <div class="text-center pa-8">
            <MudText Typo=Typo.h1>401 NotAuthorized</MudText>
            <MudImage Src="image/youshallnotpass.png" Alt="You Shall Not Pass!" Elevation="25" Class="rounded-lg" />
            <MudText Typo=Typo.h2>未授權或已登出系統！</MudText>
            <MudButton Variant=Variant.Outlined Color=Color.Primary Size=Size.Large Href="/" Class="my-8">重新進入系統</MudButton>
          </div>
        </NotAuthorized>
      </AuthorizeRouteView>
      @*<FocusOnNavigate RouteData="@routeData" Selector="h1" />*@
    </Found>
    <NotFound>
      <PageTitle>Not found</PageTitle>
      <LayoutView Layout=@typeof(NoLayout)>
        <div class="text-center my-16 pa-8">
          <MudText Typo=Typo.h1>404 NotFound!</MudText>
          <MudText Typo=Typo.h2>Your princess is in another castle.</MudText>
          @*<MudText Typo=Typo.h2>找不到目標網址或功能作業！</MudText>*@
          <MudButton Variant=Variant.Outlined Color=Color.Primary Size=Size.Large Href="/" Class="my-8">重新進入系統</MudButton>
        </div>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>