@page "/counter"
@inject ILogger<Counter> logger
@inject IStringLocalizer<Counter> loc

<PageTitle>Counter</PageTitle>

<MudContainer>
  <MudText Typo=Typo.h3 GutterBottom>@loc["Counter"]</MudText>

  <MudAlert Severity=Severity.Info Class="mb-3">
    <span style="font-size:2em">@String.Format(loc["click {0} times"], currentCount)</span>
  </MudAlert>

  <MudButton Variant=Variant.Filled Color=Color.Primary OnClick=IncrementCount>@loc["Click me"]</MudButton>

</MudContainer>

@code {
  int currentCount = 0;

  void IncrementCount()
  {
    currentCount++;
    logger.LogInformation("IncrementCount");
  }
}
